body{
    background-color: #f0f0f0
}

main{
    margin: 20px;
    padding: 2rem;
    background-color: var(--grid-alt-colour);
    border-radius: 0.8rem;
    border: 1px solid rgb(134, 134, 134);
    box-shadow: 0.3rem 0.3rem 0.3rem 0.3rem grey;
}

h2{
    text-align: center;
}

main > p{
    margin: 20px
}

main > a{
    margin: 20px
}