body{
    background-color: #f0f0f0;
}

main{
    margin: 20px;
    padding: 2rem;
    background-color: var(--);
    border-radius: 0.8rem;
    border: 1px solid rgb(134, 134, 134);
    box-shadow: 0.3rem 0.3rem 0.3rem 0.3rem grey;
}

h2{
    text-align: center;
}

main > p{
    margin: 20px;
}

main a {
    display: block;
    margin: 20px;
    color: var(--navheading-colour);
}
main a:hover {
    color: blue;
    animation: linkglow 2s ease-in-out 0s infinite alternate none;
}
@keyframes linkglow {
    0% {
        border: 1px solid var(--navheading-colour);
        background-color:gray;
    }
    100% {
        border: 1px solid gray;
        background-color: lightgray;
    }
}
main a:active {
    color: violet;
}
@keyframes linkglow {
    0% {
        border: 1px solid var(--navheading-colour);
        background-color:gray;
    }
    100% {
        border: 1px solid gray;
        background-color: lightgray;
    }
}