/* Main */
main {
    background-color: lightgrey;
}
main h2 {
    padding: 1.7rem;
    text-align: center;
}
main #info {
    padding: 1rem 2rem;
}

#hgrid {
    display: grid;
    grid-template-columns: repeat(6, 1fr);
}