/* Main */
main {
    background-color: #f0f0f0
}
main h2 {
    padding: 1.7rem;
    text-align: center;
}
main #info {
    padding: 1rem 2rem;
}

#displaygrid {
    display: grid;
    grid-template-columns: 60% auto;
}

#hcontainer {
    padding: 0 2rem;
}
.hgrid {
    display: grid;
    grid-template-columns: repeat(6, 1fr);
padding: 0.1rem;
}
.gray {
    background-color: rgb(189, 189, 189);
}

#stats {
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 3rem;
}
#stats strong {
    font-size: 5rem;
}
.line {
    height: 5px;
    background-color: black;
}
#stats > div {
    width: 75%;
    padding: 3rem;
    background-image: url("../images/Card.png");
    background-size: cover;
    background-color: rgb(240, 240, 240);
    border-radius: 5px;
    box-shadow: 5px 5px 5px 5px gray;
}