/* Main */
main {
    background-color: var(--bg-colour);
}
main h2 {
    padding: 1.7rem;
    text-align: center;
}
main #info {
    padding: 1rem 2rem;
}

/* History */
#displaygrid {
    display: grid;
    grid-template-columns: 60% auto;
}

#hcontainer {
    padding: 0 2rem;
}

/* History Left */
.thead {
    position: sticky;
    top: 0;
      /* z-index: 10;         make sure it stays above the table rows
  padding: 10px;
  border-bottom: 1px solid #ccc; */
}
.hgrid {
    display: grid;
    grid-template-columns: repeat(6, 1fr);
padding: 0.1rem;
}
.gray {
    background-color: var(--grid-alt-colour);
}

#stats {
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 3rem;
}
#stats strong {
    font-size: 4rem;
}
.line {
    height: 5px;
    background-color: black;
}
#stats > div {
    width: 75%;
    padding: 3rem;
    background-image: url("../images/Card.png");
    background-size: cover;
    background-color: rgb(240, 240, 240);
    border-radius: 5px;
    box-shadow: 5px 5px 5px 5px gray;
}