/* All */
:root {
    /* Variables */
    --navheading-colour: #7085ff;
    --nav-colour: #282A35;
    --navbutton-colour: var(--navheading-colour);
    --link-colour: white;
}
html {
    font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
}

/* Header */
header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 1rem;
    background-color: var(--nav-colour);
    background-image: url("../images/Banner.png");
    background-size: 100% 100%;
}
header > h2 {
    margin: 1rem;
}
header > h2 > a {
    font-size: 2rem;
    color: var(--navheading-colour);
    text-decoration: none;
}
nav {
    display: flex;
    justify-content: space-around;
    gap: 1.5rem;
}
nav > div {
    background-color: var(--navbutton-colour);
    padding: 1rem 1.5rem;
    border-radius: 5px;
}
nav > div > a {
    font-size: large;
    font-weight: bold;
    color: var(--link-colour);
    text-decoration: none;
}

/* Main */