/* All */
:root {
    /* Variables */
    --h1-colour: #7085ff;
    --nav-colour: #282A35;
    --navbutton-colour: var(--h1-colour);
}
html {
    font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
}

/* Header */
header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 20px 20px;
    background-color: var(--nav-colour);
    color: white;
}
nav a{
    font-size: large;
    font-weight: bold;
    color: white;
    /* background-color: green; */
    justify-content: space-between;
    border: solid;
}
nav > div {
    display: inline-block;
    background-color: var(--navbutton-colour);
    padding: 1rem 1.5rem;
    margin: 0 2rem;
    border-radius: 5px;
}

/* Main */
.container{
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    grid-gap: 10px;
}

.side{
    border: solid;
    grid-column: 1/2;
}
